.moveLeft {
    animation: goLeft 0.70s linear;
}

.moveRight {
    animation: goRight 1.40s linear;
}

.moveUp {
    animation: goUp 0.35s linear
}

.moveDown {
    animation:goDown 0.35s linear;
}

.moveDownOpacity {
    animation:goDownOpacity 0.35s linear;
}

@keyframes goUp {
    from {
        transform: translateY(var(--articleH));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes goRight {
    0% { 
        transform: translateX(calc(-1*32.5%));
        opacity: 0;
    }
    50%{
        transform: translateX(calc(-1*32.5%));
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes goDown {
    from {
        transform: translateY(calc(-1*var(--articleH)));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes goDownOpacity {
    from {
        transform: translateY(calc(-1*var(--articleH)));
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes goLeft {
    from { transform: translateX(30%);}
    to {transform: translateX(0);}
}