.moveUp {
    animation: goUp 0.35s linear
}

.moveDown {
    animation:goDown 0.35s linear;
}

.moveDownOpacity {
    animation:goDownOpacity 0.35s linear;
}

@keyframes goUp {
    from {
        transform: translateY(var(--articleH));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes goDown {
    from {
        transform: translateY(calc(-1*var(--articleH)));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes goDownOpacity {
    from {
        transform: translateY(calc(-1*var(--articleH)));
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}