:root {
    --bcolor: #252121;
    --ctext: #fffffff1; 
    --mainFont: Arial, Helvetica, sans-serif;
    --articleH: 6vh;
}

* {
    margin:0;
    padding:0;
    box-sizing: content-box;
}

html {
    width:100%;
    height:100%;
    background-color: var(--bcolor);
    color: var(--ctext);
    font-family: var(--mainFont);
}

body {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    height:inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}