.input-component {
    width:100%;
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
}

#todo-input {
    width: 70%;
    border-radius: 10%;
    font-size: 1.3rem;
}

#submit-button {
    background-color: #720c0c;
    color: var(--ctext);
    width: 15%;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 0 5%;
}

#submit-button:hover {
    background-color: white;
    color: #720c0c;
}