.single-todo{
    position: relative;
    width:100%;
    height: var(--articleH);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.buttons-container {
    display: flex;
    justify-content: end;
    width: 25%;
}

.buttons-container button {
    width: 30%;
    padding: 3% 3%;
    margin: 0 0 0 10%;
    font-weight: bold;
    color: white;
}

.delete-button {
    background-color: #cc1111;
}

.done-button {
    background-color: rgb(25, 226, 25);
}

.single-todo button:hover {
    background-color: white;
    color: #cc1111;
}