.single-todo{
    position: relative;
    width:100%;
    height: var(--articleH);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.single-todo button{
    padding: 1% 2%;
    width: 7%;
    background-color: #cc1111;
    color: white;
    font-weight: bold;
}

.single-todo button:hover {
    background-color: white;
    color: #cc1111;
}